<!doctype html>
<!-- View of the homepage -->
<!-- December 11, 2020 ~5:50 p.m. -->

<html>

    <head> 
        <title> Selecting Features-Regressors </title>
    </head>
    
    <h1> Please select the features-regressors for the machine learning regression. </h1>
    
  <body>  
    <div class="container">
        <form action="/result" method="post">
            <input type="checkbox" name="regressor" value="employment">
            <label for="regressor"> Employment </label>
            <input type="checkbox" name="regressor" value="housing price">
            <label for="regressor"> Housing Price </label>
            <div> <input type="submit" style="background-color:#247A85;color:#44100B;padding:12px;font-size:10px;" value="Run Regression"> </div>
        </form>
    </div>
  </body>

      
</html>
