<!doctype html>
<!-- View of the homepage -->
<!-- December 11, 2020 ~5:50 p.m. -->

<html>

    <head> 
        <title> Selecting Features-Regressors </title>
    </head>
    
    <h1> Please select the features-regressors for the machine learning regression. </h1>
    
  <body>  
    <div class="container">
        <form action="/result" method="post">
            <input type="checkbox" name="1" value="Median Family Income Pct">
            <label for="regressor"> Median Family Income Pct </label>
            <input type="checkbox" name="2" value="Minority Population Pct">
            <label for="regressor"> Minority Population Pct </label>
            <input type="checkbox" name="3" value="Minority Population">
            <label for="regressor"> Minority Population </label>
            <input type="checkbox" name="4" value="Owner Occupied Units">
            <label for="regressor"> Owner Occupied Units </label>
            <div> <input type="submit" style="background-color:#247A85;color:#44100B;border:black;padding:12px;font-size:10px;" value="Run Regression"> </div>
        </form>
    </div>
  </body>

      
</html>
