<!doctype html>
<!-- View of the homepage -->
<!-- December 11, 2020 ~5:50 p.m. -->

<html>

    <head> 
        <title> Selecting Features-Regressors </title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('style',filename='style.css') }}"> -->
    </head>
    
    <h1> Social Science Examines Opportunity Zones </h1>
    <p></p>
    <h2> Historical Background </h2>
    <h3>
        In 2015, a white paper by economists Jared Bernstein and Kevin A. Hassett was published by the Economic Innovation Group. The document reviewed federally funded
        placed-based programs and the authors suggested private capital as an alternative. The concept was introdued February 2, 2017 by U.S. Senators Tim Scott (R-SC) and 
        Cory A. Booker (D-NJ) as legislation called the Investing in Opportunity Act. In December 2017, the legislation was enacted as part of the Tax Cuts and Jobs Act. 
        In April 2018, the IRS and U.S. Treasury Department designated 8,764 census tracts as Opportunity Zones. Yet, federal regulations for Opportunity Zones were not finalized 
        until December 2019. During that time, a range of investments into those census tracts occured, some of which were consistent with the intendment of the Opportunity Zones 
        legislation while others were not.
    </h3>
    <p></p>
    <h2> Multivariate Linear Regression </h2>
    <h3> Please select the features-regressors for the machine learning regression. </h3>
 
  <body>  
    <div class="container">
        <form action="/result" method="post">
            <input type="checkbox" name="1" value="Median Family Income Pct">
            <label for="regressor"> Median Family Income Pct </label>
            <input type="checkbox" name="2" value="Minority Population Pct">
            <label for="regressor"> Minority Population Pct </label>
            <input type="checkbox" name="3" value="Minority Population">
            <label for="regressor"> Minority Population </label>
            <input type="checkbox" name="4" value="Owner Occupied Units">
            <label for="regressor"> Owner Occupied Units </label>
            <p></p>
            <div> <input type="submit" style="background-color:#247A85;color:#44100B;border:black;padding:12px;font-size:10px;" value="Run Regression"> </div>
        </form>
    </div>
  </body>

      
</html>
