<!doctype html>
<!-- Page view of checkbox selections for feature-regressors -->
<!-- December 11, 2020 ~7:01 p.m. to December 15, 2020 ~6:09 p.m. -->
<!-- Last update: December 22, 2020 -->

<html>

    <head> <title> Selected Features-Regressors </title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.12.2"></script>
    </head>

  <body style="font-family:'Palatino';background:#E1F5FE;">  
    
    <h2 style="font-family:'Palatino';"> Coefficients, Intercept, and Predicted Median Family Income from the Selected Features-Regressors </h2>
      
    <div id=container>
        {% if len == 1 %}
            <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Selected Feature </div>
            {% for option in options_list %}
            <div> {{option}} </div>
            {% endfor %}
        {% else %}
            <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Selected Features </div>
            {% for option in options_list %}
            <div> {{option}} </div>
            {% endfor %}
        {% endif %}
        <p></p>

        {% if len == 1 %}
            <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Coefficient </div>
                {{options_list[0]}}
                :&nbsp
                <script type="text/javascript">
                    document.write( {{coefficient[0]}}.toFixed(2) + "<br>" );
                </script>
        {% else %}
            <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Coefficients </div>
            {% for j in range(0, len)  %}
                {{options_list[j]}}
                :&nbsp
                <script type="text/javascript">
                    document.write( {{coefficient[j]}}.toFixed(2) + "<br>" );
                </script>
            {% endfor %}
        {% endif %}
        <p></p>

        <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Intercept </div>
        <div> 
            <script type="text/javascript">
            document.write({{intercept}}.toFixed(2));
            </script>
        </div>
        <p></p>

        <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Prediction of Median Family Income </div>
        <div> 
            <script type="text/javascript">
            document.write({{predicted_income}}.toFixed(2));
            </script>
        </div>
        <p></p>

        <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Federal Financial Institutions Examination Council Estimate of Median Family Income for 2020 </div>
        <div> {{ffiec_income_estimate_2020}} </div>
        <p></p>

        <div style="font-family:'Palatino';font-style:italic;color:#074E80;"> Difference Between FFIEC Estimate and Machine Learning Prediction of Median Family Income </div>
        <div>
            <script type="text/javascript">
            document.write({{difference}}.toFixed(2));
            </script>
        </div>
        <p></p>
 
        <div><p></p></div>
    </div>
    

    
      <form action="/">
        <div> <input type="submit" style="background-color:#247A85;color:#44100B;border:black;border-radius:12px;padding:12px;font-size:10px;" value="Home"> </div>
      </form>

        <p></p>
        <h4 style="font-family:'Palatino';"> Website created by Terrence E. Gilchrist, MPA, December 11-15, 2020 </h4>
        <div><h4 style="font-family:'Palatino';"> Updated December 22, 2020 <div>
            <div><h4 style="font-family:'Palatino';"> For source code and data, see 
                <a href="https://www.GitHub.com/TerrenceGilchrist/OpportunityZonesMachineLearning"> www.GitHub.com/TerrenceGilchrist/OpportunityZonesMachineLearning </a>.</h4></div>
                <p></p>
      
  </body>
    
</html>
