<!doctype html>
<!-- Page view of checkbox selections for feature-regressors -->
<!-- December 11, 2020 ~7:01 p.m. to -->

<html>

    <head> <title> Selected Features-Regressors </title>
    </head>
    
  <body>  
    
    <h1> Selected Features-Regressors </h2>
      
    <div id=container>
        {% for option_selected in options_selected %}
          {{options_selected}}
        {% endfor %}
        <div> {{options_selected}} </div>
        <div> {{options_selected.values()}} </div>
        <div> {{options_list}} </div>
        <div> {{chart_mp | safe}} </div>
    </div>
    
    <!-- <div id=another_container> -->
    <!--     {% for chart in chart_list %} -->
    <!--         {{chart}} -->
    <!--     {% endfor %} -->
    <!-- </div> -->
        
  </body>
    
</html>
