<!doctype html>
<!-- Page view of checkbox selections for feature-regressors -->
<!-- December 11, 2020 ~7:01 p.m. to -->

<html>

    <head> <title> Selected Features-Regressors </title>
    </head>
    
  <body>  
    
    <h1> Selected Features-Regressors </h2>
      
    <div id=container>
        <div> Selected Features </div>
        <div> {{options_list}} </div>
        <div> Intercept </div>
        <div> {{intercept}} </div>
        <div> Coefficient(s) </div>
        {% for coeff in coefficient %}
            {{coeff}}
        {% endfor %}
        <div> Prediction of Median Income </div>
        <div> {{predicted_income}}
    </div>

  </body>
    
</html>
